body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background 0.5s ease;
}

.slide {
  display: none;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

.slide.active {
  display: block;
}

.navigation {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.nav-btn {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-btn.active {
  background-color: white;
}

@media (max-width: 768px) {
  .slide h1 {
    font-size: 2rem;
  }

  .slide p {
    font-size: 1.5rem;
  }
}

.slide:nth-child(1) h1,
.slide:nth-child(1) p {
  position: absolute;
  transform: translate(-50%, 50%);
  margin: 0;
  text-wrap: nowrap;
}

.slide:nth-child(1) p {
  font-size: 1rem;
  transform: translateY(300%);
  text-wrap: nowrap;
}

/* Custom styling for second slide text position */
.slide:nth-child(2) h1,
.slide:nth-child(2) p {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}
.slide:nth-child(2) p {
  font-size: 1rem;
  top: 95px;
  text-wrap: nowrap;
}

.bgh {
  background-color: yellow;
  border-radius: 0.5rem;
  padding: 0.4rem;
  color: #555;
  text-shadow: none;
}
.bgp {
  background-color: red;
  border-radius: 0.5rem;
  padding: 0.4rem;
  color: black;
  text-shadow: none;
}
